<div class="button-group">
</div>

<div class="top-space2">
  ユーザー登録が必要です。
</div>

<div class="container" >
  <div class="row justify-content-center">
    <%= link_to "新規登録画面へのボタン", new_user_registration_path, class: "btn btn-primary register-button" %>
  </div>
  <div class="row justify-content-center">
    <%= link_to "ログインボタン", new_user_session_path, class: "btn btn-primary rog_in-button" %>
  </div>
  <div class="row justify-content-center">
    <%= link_to "前のページに戻るボタン", :back, class: "btn btn-primary back-button" %>
  </div>
</div>