<div class="container">

  <div class="card text-center">
    <div class="row card-body">
      <div class="col-md-7 random-images">
        <h4 class="card-title">いやなことよりネコみましょう</h4>
          <%= image_tag random_image_path, size: "300x200", style: "height: auto;" %>
        <p class="col-md-6caption">かわいいネコです</p>
      </div>
      <div class="col-md-5 message-outer">
        <div class="message-inner">
          <p><%= simple_format(random_message) %></p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "新規投稿", new_negative_memory_path, class: "btn btn-primary" %>
</div>
