<div class="top-space"></div>


<div class="row justify-content-center text-center align-items-center">
  <div class="col-md-3">
    <p>せらぴーにゃ へようこそ</p><br>
    <p>機能は３つございます</p><br>
    <br>
    <p>にゃ</p>
  </div>
  <div class="col-md-6 text-center">
    <%= link_to image_tag('nya_ht.jpg', size: '400x600', class: 'rounded'), root_path %>
  </div>
  <div class="col-md-3 align-items-center">
    <p>「ポジティブ」では忘れたくない幸せな思い出を日記として記憶できます。日記はあなたが忘れたころに僕がメールで送ります。</p><br>
    <p>「ネガティブ」では忘れたいにがーい思い出を書き出す場です。目に見える形で にがーい をいっぱい叩いてすっきりしてほしいです。</p><br>
    <p>「つぶやき」はつぶやけます。</p><br>
    <br>
    <p>にゃ</p>
  </div>
</div>

<div class="top-space"></div>
