/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  text-align: center;
}

.navbar {
  background-color: #ffaa00; /* オレンジ色のヘッダー */
}

.navbar-light .navbar-toggler {
  color: #ffaa00; /* オレンジ色のトグルボタン */
  border-color: #ffaa00;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 170, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  color: #ffaa00; /* オレンジ色のリンクテキスト */
}

.navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #ffaa00;
}

.navbar-brand {
  margin: 0 auto; /* ロゴを中央に配置 */
}

.navbar-brand img {
  border-radius: 50%; /* ロゴの角を丸くする */
}
