.top-space {
  height: 5px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px 10px 10px;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.happy-button {
  background-color: #ff80c0;
}

.negative-button {
  background-color: #ff4d8c;
}

.story-button {
  background-color: #ffaa00;
}

.button:hover,
.button:focus {
  text-decoration: none;
}

.button:hover {
  background-color: #00f;
}

.rounded-image {
  border-radius: 50%;
  object-fit: cover;
}

.header {
  background-color: #ff80c0;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url('path/to/toggle-icon.png');
  width: 30px;
  height: 30px;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffcaec;
}

.navbar-nav .btn {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .btn:hover {
  background-color: #fff;
  color: #ff80c0;
}