/* カスタムスタイル */
.negative-form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff80c0;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff4d8c;
}

.container {
  //display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
}


.container {
  //display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
}

.card {
  max-width: 100%;

  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  justify-content: center;

  z-index: 20;

}

.card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.card-text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-text:last-child {
  margin-bottom: 0;
}

header, .negative_memories {
  background-color: #f0e68c;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
